<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyj.blog.mapper.TagMapper">


    <select id="selectTagNameByBlogId" resultType="java.lang.String">
        select tag.name
        from tag
                 left join blog_tag_relation btr on tag.id = btr.tag_id
        where btr.blog_id = #{blogId}
    </select>
</mapper>